<!-- MVP.css quickstart template: https://github.com/andybrewer/mvp/ -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="https://picsum.photos/70" rel="icon">
    <link rel="stylesheet" th:href="@{/css/mvp.css}" type="text/css">

    <meta charset="utf-8">
    <meta content="My description" name="description">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>ThymeleafTemplate</title>
</head>

<body>
<header>
    <nav>
        <a th:href="@{/}"><img alt="Logo" height="70" src="https://picsum.photos/200/70"></a>
        <ul>
            <li>Menu Item 1</li>
            <li><a href="#">Menu Item 2</a></li>
            <li><a href="#">Dropdown Menu Item</a>
                <ul>
                    <li><a href="#">Sublink 1</a></li>
                    <li><a href="#">Sublink 2</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <h1>Hello <span th:text="${name}">Name not found</span></h1>
    <h2>Today is: <span th:text="${#calendars.format(today)}">13 February 2011</span></h2>
    <br>
</header>
<main>
    <section>
        <a th:href="@{/hello}"><h2>GET Servlet Example Link</h2></a>
    </section>
    <hr>
    <section>
        <header>
            <h3>Servlet Form Example</h3>
        </header>
        <form method="post" th:action="@{/hello}">
            <label>
                Good
                <input name="mood" type="radio" value="That's nice to hear!">
            </label>
            <label>
                Not good
                <input name="mood" type="radio" value="I hope you'll be better soon!">
            </label>
            <button type="submit">Send</button>
        </form>
    </section>
</main>
</body>

</html>
